<?xml version='1.0'?>

<robot name="rslk" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <link name='chassis'>
    <pose>0 0 0.0 0 0 0</pose>

    <inertial>
      <mass value="15.0"/>
      <origin xyz="0.0 0 0" rpy=" 0 0 0"/>
      <inertia
          ixx="0.1" ixy="0" ixz="0"
          iyy="0.1" iyz="0"
          izz="0.1"
      />
    </inertial>

    <collision name='chassis_collision'>
      <origin xyz="0 0 -0.02" rpy=" 0 0 0"/> 
      <geometry>
        <cylinder length="0.010" radius="0.0815"/>
      </geometry>
    </collision>

    <visual name='chassis_visual'>
      <origin xyz="0 0 -0.02" rpy=" 0 0 0"/>
      <geometry>
       <cylinder length="0.011" radius="0.0815"/>
      </geometry>
    </visual>


    <collision name='back_caster_collision'>
      <origin xyz="-0.062 0 -0.026" rpy=" 0 0 0"/>
      <geometry>
        <sphere radius="0.0114"/>
      </geometry>
    </collision>

    <visual name='back_caster_visual'>
      <origin xyz="-0.062 0 -0.026" rpy=" 0 0 0"/>
      <geometry>
        <sphere radius="0.0115"/>
      </geometry>
    </visual>


    <collision name='right_wheel_collision'>
      <origin xyz="0 0.074 0" rpy=" 0 1.5707 1.5707"/> 
      <geometry>
        <cylinder length="0.00799" radius="0.0349"/>
      </geometry>
    </collision>

    <visual name='right_wheel_visual'>
      <origin xyz="0.0 0.074 0.0" rpy="0 1.5707 1.5707"/>
      <geometry>
       <cylinder length="0.008" radius="0.035"/>
      </geometry>
    </visual>

    <collision name='motor_board_collision'>
      <origin xyz="0 0.0 0" rpy=" 0 0 0"/> 
      <geometry>
        <box size="0.112 0.1 0.002"/>
      </geometry>
    </collision>

    <visual name='motor_board_visual'>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.112 0.1 0.002"/>
      </geometry>
    </visual>

    <collision name='left_wheel_collision'>
      <origin xyz="0 -0.074 0" rpy=" 0 1.5707 1.5707"/> 
      <geometry>
        <cylinder length="0.00799" radius="0.0349"/>
      </geometry>
    </collision>

    <visual name='left_wheel_visual'>
      <origin xyz="0.0 -0.074 0.0" rpy="0 1.5707 1.5707"/>
      <geometry>
       <cylinder length="0.008" radius="0.035"/>
      </geometry>
    </visual>



  </link>

</robot>
